<style>
    h1 {
      font-size: 3rem;
    }
  
    .mid-text {
      font-style: normal;
      line-height: 1.6;
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.5rem;
      background-color: #ecfafc;
      color: #232323;
      text-align: center;
  
    }
  
    .example-card {
      background-color: #ecfafc;
    }
  
    .mat-card-header-text {
      direction: rtl;
      text-align: center;
      font-size: 3rem;
      width: 100%;
    }
  
  
    .about-us-title {
      font-family: 'Roboto';
      font-size: 60px;
      font-weight: bold;
  
    }
  
    .title-border {
      background-color: #3cddec;
      height: 10px;
    }
  
    .d-flex {
      display: flex !important;
    }
  
    .ml-auto {
      margin-left: auto;
    }
  
    .mr-auto {
      margin-right: auto;
    }
  
    .flex-end {
    }
  
    p {
      font-size: 17px !important;
    line-height: 1.2;
      direction: rtl;
    }
  
    p.toller {
      font-size: 25px;
    }
  
    p.bolder {
      font-weight: bold;
    }
  
    .mr-100 {
      margin-right: 100px;
    }
  
    .text-center {
      text-align: center;
    }
  
    .w-820 {
      width: 620px;
    }
  
    .mt-20 {
      margin-top: 20px;
    }
  
    .left-side-image {
        width: 35%;
    position: absolute;
    left: 71px;
    top: 75px;
    }
  </style>
  <div dir="rtl" style="height: 100%;padding: 50px 50px 0 50px">
    <div>
      <img class="left-side-image" src="assets/about-side-image.jpeg" alt="">
    </div>
    <div class="d-flex">
      <div class="about-us-title ml-auto">
        <h1>
          קצת עלינו
        </h1>
        <div class="title-border"></div>
      </div>
    </div>
    <div class="mr-100 text-center w-820 mt-20">
      <p class="toller">
        מכירים את זה שאתם חייבים משהו לשימוש בודד שעולה יקר יותר ממה שציפיתם ?
      </p>
      <p>כמו - ספר טוב ששמעתם עליו וכנראה תקראו רק פעם אחת?</p>
      <p> ציוד לקמפינג שאתם הולכים פעם באף פעם?</p>
      <p>מעשנה לאירוע חגיגי שאתם עושים אצלכם לעיתים רחוקות?</p>
      <p>שמלה חגיגית לאירוע שעולה אלפי שקלים אצל מעצבת?</p>
      <p> או כל דבר אחר שעולה על דעתכם...</p>
      <p class="bolder">ב-ShareALL תוכלו לבצע חיפוש של השכרת מוצרים במחיר יומי/שעתי.</p>
      <p>ומהצד השני - מכירים את זה שאתם קונים משהו ומשתמשים בו פעמים בודדות ובשאר הזמן הוא פשוט שוכב אצלכם בבית וצובר אבק?
      </p>
      <p>הגיע הזמן לעשות ממנו כסף!
      </p>
      <p>השכרת מוצרים אישיים במחיר שעתי/יומי לבחירתכם.
      </p>
      <p>וזה לא הכל!
      </p>
      <p> צריכים פריט ואין לכם את היכולת לממן אותו? רוצים להשקיע כסף אבל אין לכם מספיק הון עצמי?</p>
      <p class="bolder"> ב-ShareALL תוכלו לחפש שותפים לקניית מוצר משותף.</p>
      <p class="bolder"> לסיכום - הפלטפורמה שלנו נולדה כדי לאפשר לאנשים לחסוך בכסף ואף להרוויח.</p>
      <p class="bolder">אנו משתמשים במרבית מהדברים שאנחנו צריכים בתדירות נמוכה ואם הדברים האלה בבעלותנו, הרי שבמרבית הזמן
        הם נותרים ללא
        שימוש – ולכן, הגיוני יותר להשכיר אותם וכך להרוויח כסף.
      </p>
      <p class="bolder">כמו כן, נוכל לקנות מוצר למטרת השקעה ללא ההון העצמי הדרוש, באמצעות קניה שיתופית.</p>
      <p>
        <b>מה לגבי ביטוח המוצר?</b>
        כדי לבצע עסקה ב- ShareALL הצדדים נדרשים לאמת את זהותם ופרטי התשלום שלהם, בנוסף למערכת
        חוקים,
        דירוג וביקורות שנועדה להגן על הצדדים.</p>
    </div>
  
    <video width="420" height="340" style="margin-right: 200px;" controls>
      <source src="assets/video.mp4" type="video/mp4">
      
    Your browser does not support the video tag.
    </video>
  
  </div>